.contactImage {
     position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('/src/images/contactimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}